<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affichage de l'heure</title>
</head>
<body>
    <h1>Recherche :</h1>
    <input type="text" id="search" placeholder="Recherche de module...">
    <ul id="results"></ul>
    {% if current_user.is_authenticated %}
        <p>Nom d'utilisateur : {{ username }}</p>
        <button onclick="window.location.href='/logout';" >Deconnexion</button>
    {% else %}
        <p>Vous n'êtes pas connécté</p>
        <button onclick="window.location.href='/login';" >connexion</button>
        <p>Pas encore membre ?</p>
        <button onclick="window.location.href='/register';" >Inscription</button>


    {% endif %}

            {% for modules in module %}
                <a href="/show_module?id={{modules.encoded_id}}">{{modules.name_module}}</a>
            {% endfor %}
            {% for category in categorie %}
                <a href="/show_category?id={{category.encoded_id}}">{{category.category_name}}</a>
            {% endfor %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>