<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="email">Email :</label>
        <input type="email" name="email" required>
        <label for="password">Password :</label>
        <input type="password" name="password" required>
        <label for="remember">Se souvenir de moi :</label>
        <input type="checkbox" name="remember" id="">
        <button type="submit" >se connecter</button>
    </form>
</body>
</html>